.Button {
    display: inline-block;
    position: relative;
    border-radius: 5rem;
    background-color: #00BFA6;
    font-size: 3.6rem;
    color: white;
    border: none;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}